<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title></title>
</head>
<body>
	<p><b>DEAR CUSTOMER : </b></p>
	<p>You are currently receiving communications from the MO&Co. brand, including information about our new product launches, current promotional offers or our latest news.</p>
	<p>At MO&Co. we take the protection of your personal data very seriously and are committed to ensuring that your rights are protected.</p>
	<p>A new European law, the General Data Protection Regulation (GDPR), enters into force on May 25, 2018 and strengthens your rights (right of opposition, rectification, etc.).</p>
	<p>In order to provide greater transparency about our data practices and to address the requirements of the GPDR, we have updated our <a th:href="${privacy_policy_url}">Privacy Policy</a>. We invite you to read it carefully in order to be aware of the main changes.</p>
	<p>If you wish to continue to receive information from us, you don’t have to do anything in response to this email. If this is not the case, we remind you that you can unsubscribe at any time by clicking on the unsubscribe link at the bottom of each email we send you.</p>
	<p>If you have any questions, you can contact us at [DPO@mo-co.com].</p>
	<p><b>THANK YOU FOR YOUR SUPPORT.</b></p>
	<p><img th:src="${bottom_logo_url}"/></p>
</body>
</html>