<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title></title>
</head>
<body>
	<p><b>BONJOUR,</b></p>
	<p>Vous recevez actuellement des communications de la part de la marque MO&Co., incluant notamment des informations sur le lancement de nouveaux produits, les offres promotionnelles en cours ou nos dernières actualités.</p>
	<p>Chez MO&Co., nous prenons la protection de vos informations personnelles très au sérieux et avons à cœur de nous assurer que vos droits sont protégés.</p>
	<p>Une nouvelle loi européenne, le Règlement Général sur la Protection des Données, entre en vigueur le 25 mai 2018 et renforce vos droits (droit d’opposition, de rectification, etc.).</p>
	<p>Afin de prendre en compte les nouvelles exigences législatives contenues dans le RGPD, nous avons mis à jour notre <a th:href="${privacy_policy_url}">Politique de Confidentialité</a>. Nous vous invitons à la consulter et à la lire attentivement afin de prendre connaissance des principaux changements.</p>
	<p>Si vous souhaitez continuer à recevoir des informations de notre part, vous n’avez rien à faire. Si ce n’est pas le cas, nous vous rappelons que vous avez la possibilité de vous désinscrire, à tout moment, en cliquant sur le lien de désinscription figurant au bas de chaque email que nous vous adressons.</p>
	<p>Si vous avez des questions, vous pouvez nous contacter à [DPO@mo-co.com].</p>
	<p><b>Merci de votre confiance.</b></p>
	<p><img th:src="${bottom_logo_url}"/></p>
</body>
</html>